<div class="mb-3">
    <div class="flex justify-start items-center">
        <img class="flex-initial h-4 rounded"
            src="https://avatars.githubusercontent.com/{{profile.github_username}}?s=64">

        <a class="flex-initial font-normal has-text-dark mx-2 text-xs text-gray-900"
            href="/{{profile.github_username}}">{{ profile.full_name }}</a>
    </div>
    <h2>
        <a href="{{link}}" class="post_link text-sm font-semibold text-gray-900" target="_blank"
            rel="noopener noreferrer">
            {{ title }}
        </a>
    </h2>
</div>
