<div class="flex mb-2 items-center">
    <img class="rounded-full h-16 w-16" src="https://avatars.githubusercontent.com/{{github_username}}" alt="Placeholder image">
    <div class="ml-2">
        <a class="text-gray-900 font-bold text-sm" href="/{{github_username}}">
         {{#if full_name}}
            {{ full_name }}
        {{else}}
            {{ github_username }}
        {{/if}}
        </a>
        <p class="text-gray-700 text-xs max-w-lg">
            {{ bio }}
        </p>
    </div>
    {{> follow_button}}
</div>
