<div class="box">
  <article class="media">
    <figure class="media-left">
      <p class="image is-48x48">
        <a href="/user/{{profile.github_username}}">
          <img src="https://avatars.githubusercontent.com/{{profile.github_username}}">
        </a>
      </p>
    </figure>
    <div class="media-content">
      <div class="content">
          <a class="has-text-dark" href="/user/{{profile.github_username}}"><small>{{ profile.full_name }}</small></a>
          <a class="has-text-grey" href="/user/{{profile.github_username}}"><small>@{{ profile.github_username }}</small></a>
          ·
          <a class="has-text-grey" href="/post/{{id}}"><small>{{ time }}</small></a>
          <a href="{{link}}" target="_blank">
          <h4>
            {{ title }}
          </h4>
          </a>
          <p class="post-content">
            {{ summary }}
          </p>
      </div>
      <nav class="level is-mobile">
        <div class="level-left">
          <a class="level-item">
            <span class="icon is-small">
              <span id="feed_upvotes_counter_{{id}}">{{ upvotes_count }}</span>&nbsp;
              <span data-post-id="{{id}}" data-vote-upvoted="{{upvoted}}" class="vote_button">
                {{#if upvoted}}
                <i class="fas fa-heart"></i>
                {{else}}
                <i class="far fa-heart"></i>
                {{/if}}
              </span>
            </span>
          </a>
          <a class="level-item" href="/post/{{id}}">
              &nbsp;&nbsp;
              {{ comments_count }}&nbsp;
              <i class="far fa-comment"></i>
          </a>
        </div>
      </nav>
    </div>
  </article>
</div>