<div class="column {{#if custom_size}}{{custom_size}}{{else}}is-half{{/if}}">
    <div class="card">
        <div class="card-content">
            <div class="media">
            <div class="media-left">
                <figure class="image is-48x48">
                <img src="https://avatars.githubusercontent.com/{{github_username}}" alt="Placeholder image">
                </figure>
            </div>
            <div class="media-content">
                <p class="title is-4">{{ full_name }}
                    {{#unless is_me}}
                    {{#if following}}
                        <a data-user-id="{{ id }}" class="button is-light is-pulled-right following">Following</a>
                    {{else}}
                        <a data-user-id="{{ id }}" class="button is-dark is-pulled-right follow">Follow</a>
                    {{/if}}
                    {{/unless}}
                </p>
                <p class="subtitle is-6">@{{ github_username }}</p>
            </div>
            </div>
        
            <div class="content">
            {{ bio }}
            <br>
            {{#each topics}}
                <span class="tag is-light">{{ display_name }}</span>
            {{/each}}
            </div>
        </div>
    </div>
</div>
